body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1223px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2661 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:186px;
  width:750px;
  height:1334px;
}
#u2661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u2662 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:186px;
  width:750px;
  height:40px;
}
#u2662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2663 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:226px;
  width:750px;
  height:88px;
}
#u2663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
}
#u2664 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:187px;
  width:112px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2664_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
}
#u2665 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:192px;
  width:71px;
  height:28px;
}
#u2665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:192px;
  width:28px;
  height:28px;
}
#u2666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:192px;
  width:28px;
  height:28px;
}
#u2667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:192px;
  width:28px;
  height:28px;
}
#u2668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:192px;
  width:28px;
  height:28px;
}
#u2669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:192px;
  width:28px;
  height:28px;
}
#u2670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:50px;
}
#u2671 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:245px;
  width:157px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u2671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:153px;
  word-wrap:break-word;
}
#u2672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2672 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:245px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1214px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.27843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:306px;
  width:750px;
  height:1214px;
}
#u2673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:246px;
  width:50px;
  height:50px;
}
#u2674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2676_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:760px;
  height:98px;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:314px;
  width:750px;
  height:88px;
}
#u2676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u2678 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:319px;
  width:80px;
  height:80px;
}
#u2678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:73px;
}
#u2679 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:322px;
  width:136px;
  height:73px;
}
#u2679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2680 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:324px;
  width:70px;
  height:70px;
}
#u2680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u2681 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:322px;
  width:75px;
  height:75px;
}
#u2681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  line-height:30px;
}
#u2682 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:33px;
  width:750px;
  height:124px;
  font-size:20px;
  line-height:30px;
}
#u2682_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:730px;
  word-wrap:break-word;
}
#u2683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:211px;
}
#u2683 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:410px;
  width:724px;
  height:201px;
  font-size:20px;
  text-align:left;
  line-height:35px;
}
#u2683_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:15px;
  width:712px;
  word-wrap:break-word;
}
#u2684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
}
#u2684 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:552px;
  width:394px;
  height:150px;
  font-size:20px;
}
#u2684_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:374px;
  word-wrap:break-word;
}
#u2685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:211px;
}
#u2685 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:621px;
  width:724px;
  height:201px;
  font-size:20px;
  text-align:left;
  line-height:35px;
}
#u2685_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:15px;
  width:712px;
  word-wrap:break-word;
}
#u2686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:-webkit-linear-gradient(330deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:-moz-linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2686 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:552px;
  width:140px;
  height:40px;
  font-size:20px;
}
#u2686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u2687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:-webkit-linear-gradient(330deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:-moz-linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2687 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:760px;
  width:140px;
  height:40px;
  font-size:20px;
}
#u2687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
