body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1387px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:202px;
  width:750px;
  height:1334px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:202px;
  width:750px;
  height:40px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:242px;
  width:750px;
  height:88px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:203px;
  width:112px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:208px;
  width:71px;
  height:28px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:208px;
  width:28px;
  height:28px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:208px;
  width:28px;
  height:28px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:208px;
  width:28px;
  height:28px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:208px;
  width:28px;
  height:28px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:208px;
  width:28px;
  height:28px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:262px;
  width:130px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:126px;
  word-wrap:break-word;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:1325px;
  top:261px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1214px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.27843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:322px;
  width:750px;
  height:1214px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:262px;
  width:50px;
  height:50px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:760px;
  height:98px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:330px;
  width:750px;
  height:88px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:335px;
  width:80px;
  height:80px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:73px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:338px;
  width:136px;
  height:73px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:60px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:1194px;
  top:345px;
  width:81px;
  height:60px;
  font-size:36px;
  color:#999999;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:77px;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:340px;
  width:70px;
  height:70px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:270px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:440px;
  width:480px;
  height:270px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:270px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:440px;
  width:95px;
  height:270px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:270px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:440px;
  width:95px;
  height:270px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:738px;
  width:30px;
  height:30px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:738px;
  width:30px;
  height:30px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:738px;
  width:30px;
  height:30px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:738px;
  width:30px;
  height:30px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:738px;
  width:30px;
  height:30px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 187, 161, 1);
  border-radius:25px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.149019607843137);
}
#u196 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:840px;
  width:705px;
  height:77px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:463px;
  height:54px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:857px;
  width:453px;
  height:44px;
  font-size:28px;
  color:#00BBA1;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:449px;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:70px;
  height:70px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:849px;
  width:60px;
  height:60px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:275px;
  height:5px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:807px;
  width:272px;
  height:2px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:266px;
  height:5px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:1102px;
  top:807px;
  width:263px;
  height:2px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:170px;
  height:54px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:786px;
  width:160px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#00BBA1;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:196px;
  height:381px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:398px;
  width:176px;
  height:361px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:60px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:428px;
  width:110px;
  height:60px;
  font-size:24px;
  color:#666666;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:60px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:498px;
  width:110px;
  height:60px;
  font-size:24px;
  color:#666666;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:558px;
  width:125px;
  height:60px;
  font-size:24px;
  color:#666666;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:628px;
  width:125px;
  height:60px;
  font-size:24px;
  color:#666666;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:688px;
  width:125px;
  height:60px;
  font-size:24px;
  color:#666666;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:2px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:494px;
  width:148px;
  height:1px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:2px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:560px;
  width:148px;
  height:1px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:2px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:626px;
  width:148px;
  height:1px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:2px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:1219px;
  top:692px;
  width:148px;
  height:1px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:196px;
  height:381px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:186px;
  width:176px;
  height:361px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:60px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:216px;
  width:110px;
  height:60px;
  font-size:24px;
  color:#666666;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:60px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:286px;
  width:110px;
  height:60px;
  font-size:24px;
  color:#666666;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:106px;
  word-wrap:break-word;
}
#u217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:346px;
  width:125px;
  height:60px;
  font-size:24px;
  color:#666666;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:416px;
  width:125px;
  height:60px;
  font-size:24px;
  color:#666666;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:476px;
  width:125px;
  height:60px;
  font-size:24px;
  color:#666666;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:121px;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:2px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:282px;
  width:148px;
  height:1px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:2px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:348px;
  width:148px;
  height:1px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:2px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:414px;
  width:148px;
  height:1px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:2px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:480px;
  width:148px;
  height:1px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  line-height:30px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:34px;
  width:525px;
  height:124px;
  font-size:20px;
  line-height:30px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:505px;
  word-wrap:break-word;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  line-height:30px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:38px;
  width:750px;
  height:124px;
  font-size:20px;
  line-height:30px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:730px;
  word-wrap:break-word;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:939px;
  width:150px;
  height:150px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:50px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:959px;
  width:143px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:139px;
  word-wrap:break-word;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:1009px;
  width:50px;
  height:50px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:1009px;
  width:95px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:91px;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:1120px;
  width:75px;
  height:32px;
  font-size:20px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:5px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:1162px;
  width:715px;
  height:5px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:1059px;
  width:51px;
  height:51px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:51px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:1059px;
  width:237px;
  height:51px;
  font-size:20px;
  text-align:left;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:233px;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:1120px;
  width:103px;
  height:32px;
  font-size:20px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:1120px;
  width:103px;
  height:32px;
  font-size:20px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:1120px;
  width:103px;
  height:32px;
  font-size:20px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:1120px;
  width:103px;
  height:32px;
  font-size:20px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:1380px;
  width:75px;
  height:32px;
  font-size:20px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:1380px;
  width:103px;
  height:32px;
  font-size:20px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:1380px;
  width:103px;
  height:32px;
  font-size:20px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:1380px;
  width:103px;
  height:32px;
  font-size:20px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:1199px;
  width:150px;
  height:150px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:50px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:1219px;
  width:143px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:139px;
  word-wrap:break-word;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:1269px;
  width:50px;
  height:50px;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:50px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:1269px;
  width:95px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:91px;
  word-wrap:break-word;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:5px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:1429px;
  width:715px;
  height:5px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:1319px;
  width:51px;
  height:51px;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:51px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:1319px;
  width:237px;
  height:51px;
  font-size:20px;
  text-align:left;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:233px;
  word-wrap:break-word;
}
#u258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 187, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:1248px;
  top:959px;
  width:122px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 187, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:1248px;
  top:1222px;
  width:122px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:725px;
  height:77px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:1444px;
  width:715px;
  height:67px;
  font-size:20px;
  color:#999999;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:711px;
  word-wrap:break-word;
}
